{% extends 'pDevWebBundle::base.html.twig' %}

{%block title%}Sistema de Gestion Academica FCom{%endblock%}

{%block breadcrumb%}
                <li><a href="{{ path('default') }}">Volver a inicio</a></li>
{%endblock%}


{%block header%}{%endblock%}
{%block lead%}Sistema de información y gestión académica{%endblock%}


{%block content %}


    <!-- <p><a href="{#{ path('registro') }#}" class="btn btn-primary">Solicitar ingreso</a></p> //-->
    <div class="alert alert-block">
        <h4 class="alert-heading">Usted no tiene permisos suficientes para acceder a esta página.</h4>
        <p></p>
      </div>



    


{%endblock%}

