##generic files to ignore
*~
*.DS_Store
*.swp
*.out
*.orig

# Cache and logs
/app/cache/*
/app/logs/*
/app/spool
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/spool/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/bin/
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/
/web/assetic/
/web/media/
/web/js

# PHPUnit
/app/phpunit.xml

# Composer PHAR
/composer.phar
