{% extends 'pDevWebBundle:Default:basemodal.html.twig' %}

{% block title %}Asignar profesor{% endblock %}
{% block body %}
    <form id="form_asignar" class="form-horizontal form-modal" action="{{ path('practicas_alumno_asignar_profesor', {'id': entity.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <button type="submit" id="_submit" class="hide"></button>
    </form>
{% endblock %}

{% block footer %}
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <a href="#form_asignar" class="btn btn-primary submitform">Guardar</a>
{% endblock %}
