{% extends 'pDevWebBundle:Default:basemodal.html.twig' %}

{% block title %}Asignar email UC{% endblock %}
{% block body %}
    <form id="form_email" class="form-horizontal form-modal" action="{{ path('persona_email',{'tipo':tipo,'idPersona':persona.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <button type="submit" id="_submit" class="hide"></button>
    </form>
{% endblock %}
{% block footer %}
<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
<a href="#form_email" class="btn btn-primary submitform">Guardar</a>

{% endblock %}
