{% extends 'pDevWebBundle:Default:basemodal.html.twig' %}

{% block title %}Modificar valor de ajuste{% endblock %}
{% block body %}
    <form id="form_conf"  class="form-horizontal form-modal" action="{{ path('configuracion_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(form) }}
        
        <button type="submit" id="_submit" class="hide"></button>
    </form>
{% endblock %}
{% block footer %}
<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
<a href="#form_conf" class="btn btn-primary submitform">Guardar</a>

{% endblock %}
