{% extends 'pDevWebBundle:Default:basemodal.html.twig' %}

{% block title %}Importar Alumnos{% endblock %}
{% block body %}
<img src="{{ asset('/img/sync_ejemplo_alumnos.png') }}">
    <form id="form_importar" action="{{ path('importa_alumnos_upload') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <button type="submit" id="_submit" class="hide"></button>
    </form>
{% endblock %}
{% block footer %}
<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
<a href="#form_importar" class="btn btn-primary submitform">Guardar</a>

{% endblock %}
