{% extends 'pDevUserBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block header%}Preguntas frecuentes{%endblock%}
{% block lead%}Editar pregunta{% endblock %}

{% block content -%}
    {{ form(edit_form) }}
    <ul class="record_actions">
        <li>
            <a href="{{ path('preguntafrecuente') }}">
                Volver
            </a>
        </li>
    </ul>
{% endblock %}
