
{% extends 'pDevWebBundle::layout.html.twig' %}

{% block breadcrumb%}
    {{ parent() }}
{% endblock%}

{% block header %}Acerca de las prácticas{% endblock %}
{% block lead %}Informaciones para los estudiantes y empresas{% endblock %}

{% block content %}
<ul>
    {% for documento in documentos %}
    <li><a href="{{ asset(documento.webPath) }}" target="_blank">{{ documento.nombre }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
