<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{% block title %}{% endblock %}</h3>
        </div>
        <div class="modal-body">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% block body %}
        {% endblock %}
        </div>
        <div class="modal-footer">
            {% block footer %}
            <button id="buttonaceptar" class="btn btn-primary">Aceptar</button>
            {% endblock %}
        </div>
    </div>
</div>
