{% extends 'pDevWebBundle::layout.html.twig' %}

{% block jumbotron %}
<h1>SISTEMA DE PRÁCTICAS</h1>
<p class="lead">Ingresa tus datos, sistematiza el intercambio</p>
{% endblock %}

{% block navleft %}
{% endblock %}

{% block content %}
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Estudiantes</h3>
        </div>
        <div class="panel-body">
            <p>Actualiza tus datos de contacto y define un perfil de practicante, con el ingreso de tus ámbitos de interés.</p>
            <a class="btn btn-sm btn-primary onmodal" href="{{ path('default_inicio') }}">Acceder &rarr;</a>
        </div><!--/panel-->
    </div><!--/panel-body-->			
    <figure><img src="images/usuario-empresa.jpg"></figure>			
</div><!--/col-sm-4-->

<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Académicos</h3>
        </div>
        <div class="panel-body">
            <p>Define un perfil de evaluador, actualizando tus ámbitos de experiencia profesional y docente.</p>
            <a class="btn btn-sm btn-primary onmodal" href="{{ path('default_inicio') }}">Acceder &rarr;</a>
        </div><!--/panel-->
    </div><!--/panel-body-->
    <figure><img src="images/usuario-empresa.jpg"></figure>						
</div><!--/col-sm-4-->

<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Empresas y fundaciones</h3>
        </div>
        <div class="panel-body">
            <p>Ingrese ofertas de prácticas. Evalúe a sus practicantes y ofrezca nuevas plazas de trabajo.</p>
            <a class="btn btn-sm btn-primary onmodal" href="{{ path('fos_user_security_login') }}">Acceder &rarr;</a>
        </div><!--/panel-body-->
    </div><!--/panel-->
    <figure><img src="images/usuario-empresa.jpg"></figure>			
</div><!--/col-sm-4-->
{%endblock%}
