{% extends 'pDevWebBundle::layout.html.twig' %}

{% block breadcrumb%}
    {{ parent() }}
{% endblock%}

{% block header %}Preguntas frecuentes{% endblock %}
{% block lead %}Informaciones para los estudiantes y empresas{% endblock %}

{% block content %}
    {% for pregunta in preguntas %}
        <h3>{{ pregunta.pregunta }}</h3>
        <p>{{ pregunta.texto|raw }}</p>
    {% endfor %}
{% endblock %}
