{% extends 'pDevWebBundle::base.html.twig' %}

{%block title%}Sistema de prácticas Escuela de Diseño{%endblock%}

{%block breadcrumb%}
<li class="active"><span class="glyphicon glyphicon-margin-right glyphicon-chevron-right"></span><a href="{{ path('default_inicio') }}">Sistema de prácticas</a></li>
{%endblock%}

{% block javascript %}
{% endblock %}

{%block header%}{%endblock%}
{%block lead%}{%endblock%}

{%block content %}
{% endblock %}

{% block javascriptload %}
{%endblock%}
